<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--   <settings>
           <setting name="aggressiveLazyLoading" value="true"/>
           <setting name="" value=""
       </settings>-->
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--出现数据不存在还在那页的情况-->
            <property name="reasonable" value="true"></property>
        </plugin>
    </plugins>
</configuration>